{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h3>Список вопросов:</h3>
    <ul class="list-group">
        {% for question in questions %}
            <li class="list-group-item">
                <h4>{{ question.content }}</h4>
            <a class="btn btn-primary" href="{{ url_for('create_question', test_id=test_id) }}">Редактировать</a>
            </li>
        {% endfor %}
    </ul>

    <a class="btn btn-lg btn-primary" href="{{ url_for('create_question', test_id=test_id) }}">Добавить новый вопрос</a>
{% endblock %}